<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>370</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>369</string>
					<key>Timestamp</key>
					<string>778329866.333905</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Western-Wheelers-SignIn-main/Western-Wheelers-SignIn/Views/MainView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                                Button("Select a Ride") {
</string>
				<key>leading</key>
				<string>                            }
                            else {
</string>
				<key>trailing</key>
				<string>                                    activeSheet = .selectRide
                                }
                                .font(.title2)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>115</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>114</string>
					<key>Timestamp</key>
					<string>778325829.404829</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Western-Wheelers-SignIn-main/Western-Wheelers-SignIn/Model/ClubRides.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func loadPageOfRides(rawData: Data) {
</string>
				<key>leading</key>
				<string>    }

</string>
				<key>trailing</key>
				<string>        var ridesThisPage = [ClubRide]()
        var ridePageCount = 0
        if let events = try! JSONSerialization.jsonObject(with: rawData, options: []) as? [String: Any] {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
